
.color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fff;
  }
  
  .color-picker h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  .color-list {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 1.5rem;
    justify-content: center;
  }
  
  .color-item {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .color-item:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

  }
  
  .color-code {
    margin-top: 0.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  